body
{
	background-color: #87CEFA;

}

.page-prefooter
{
background-color: gray;

margin-top: 100px;
}
.page-footer
{
	background-color: gray;

}
#grid2
{
	margin-top: 40px;
	margin-left: 40px;
	height: 410px;
	width: 552px;

}
#grid1left
{
	float: left;
 margin-left: 160px;
 }
 .grid1text
{
	float: left;
 margin-left: 60px;
 }
 #gridleft
{
	float: left;
 
 }
 #gridbottom
{
	float: left;
 
 }
#grid1
{
		margin-top: 40px;

	height: 410px;
		width: 554px;

}
/*#gridbottom
{
	margin-top: 40px;

	height: 410px;
		width: 554px;

}*/
.navtop4
{
	margin-top: 160px;
/*height: 300px;
*/
/*background-color: red;
*/
}
.navtop5
{
	margin-top: 60px;
/*background-color: black;
*/
/*height: 300px;
*//**/
/*background-color: gray;
*/
}
.nav6
{
	margin-top: 60px;
/*height: 300px;
*/
/*background-color: black;
*/
}

.navfooter
{
	margin-top: 60px;
/*height: 300px;
*/
background-color: red;

}

.navtop
{
height: 80px;
/*background-color: white;
*/

}
.navtop3
{
background-color: white;
}

.navtop2
{
	background-color: black;
}
.navbar-right
{
	margin-right: 100px;
}
.glyphicon-bell
{
/*margin-top: 6px;
*/

position: fixed;
	left: 907px;
top: 25px;
padding: 0px;
background-color: red;
}


.badge-default
{

background-color: red;
	position: fixed;
top: 10px;
/*margin-left: -20px;
margin-top: -30px;
*/
/*position: relative;
	left: -80px;
	top: -9px;
*/
}


.glyphicon-calendar
{
	position: fixed;

	top: 28px;
	margin-right: 3px;
	}

	.circle1
{
	margin-left: 20px;
margin-top: 12px;

}
#badg
{
	position: absolute;
	left: 892px;


}

#badge1
{
	margin-right: -55px;
}
#badge2
{
	margin-right: -18px;
}
.imgadmin
{
	margin-top: 20px;
	margin-left: 10px;
}
#search1
{
	margin-right: -2px;
	background-color: black;
}
.navbar-form
{


	margin-right: -32px;
	background-color: black;

}
.dropdown{


}
.dropdown-menu

{
width: 350px;
background-color: black;

}
.btn-info
{
	width: 40px;
height: 30px;
font-size: 7px;
}
#ok1
{
	text-align: center;
}
#pullright1
{
	float: left;
background-color: red;
}
.btn-success
{
width:70px;
	height: 30px;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 50px / 50px;

font-size: 10px;
}

.btn-danger
{
width:70px;
	height: 30px;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 50px / 50px;

font-size: 10px;
}

.btn-warning
{
width:70px;
	height: 30px;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 50px / 50px;

font-size: 10px;
}
#g1
{
	margin-left: 2px;
}
#sales_statistics

{

	margin-left: -15px;
}
#sparkline_bar {
    type: bar;
    barColor: green;
}
#gridbottomtext
{
	margin-left: 40px;
	font-size: 15px;
float: left;
}
.b1
{
	float: left;
    display: inline;
display:inline-block;
}
.mybox
{
	 
    background-color: white;
    width: 21px;
height: 22px;
    padding: 5px;
    border: 1px solid navy;
    
/*float: left;  */

}

.mybox1
{

    background-color: white;
    width: 4px;
height: 4px;
    padding: 2px;

    border: 1px solid red;
        
}

#mybox2
{
	 
    background-color: blue;
    width: 60px;
height: 22px;
    padding: 5px;
    border: 1px solid navy;
   	
/*margin-left: 10px;
*/
/*float: left;
*/
}
#myboxtext
{
/*	float: left;  */
 
margin-left: 20px;
}

.btn-primary
{
	width: 30px ;
	height: 30px;

}
.search
{
	width: 20px;
background-color: red;
}


.myboxlast
{
	 
    background-color: white;
    width: 25px;
height: 25px;
    padding: 5px;
    border: 1px solid green;
    background-color: #00FF7F;
/*float: left;  */

}

#myboxtextlast
{
/*	float: left;  */
 
margin-left: 20px;
}
.glyphicon-camera
{
	padding-top: 2px;


margin-left: 1px;
margin-bottom: 5px;

background-color: #00FF7F;
margin-top: -22px;
}

#search2
{

	background-color: red;

}
.fa-bell-o
{

	width: 27px;
height: 40px;
}
.row-fluid
{

/*	margin-top: -2px;
*/
}
.btn-social-icon.btn-lg{height:45px;width:45px;
   padding-left:0;padding-right:0; border-radius: 50%; }

   .circleimg
{
	margin-top: 25px;
}
.progress
{
	height: 10px;

}

.btn-primary.btn-circle{
  -webkit-box-shadow: 0px 0px 3px 1px #245580;
  -moz-box-shadow:    0px 0px 3px 1px #245580;
  box-shadow:         0px 0px 3px 1px #245580;
}
   .navbar-right .fa-bell-o
   {

   /*	background-color: blue;
   */

   position: fixed;

	top: 26px; 
	  }

	  .badge-success
	  {

	  	margin-left: 20px;
	  height: 30px;
	  width: 30px;
	  padding: 5px;
	  }