.navbar-fixed-top
{
  background-color:  #3B5998;
}
.container2
{
  margin-top: 400px;
}
body
{
	 background-color: #f1f1f1;
}
.navbar-form
{

}
.glyphicon-envelope{
   width: 4%;
color: red;
width: 20px;
  background-size: 800px;

}

.m1{
height: 70px;
    width: 4%;
}

.glyphicon.glyphicon-globe {
    font-size: 75px;
    width: 100px;
}
#sidenav1
{
 
      height: auto;

margin-top: 100px;
}
#sidenav2
{
 
      height: auto;
margin-left: 100px;
margin-top: 100px;

}
#sidenav5
{
 
      height: auto;
float: left;
}
#sidenav3
{
 
      height: auto;
margin-left: 2px;
margin-top: 100px;
}
#siden3
{
 

margin-top: 10px;

}
#sidenav4
{
 
      height: auto;
margin-right: -193px;
margin-top: 200px;
margin-left: 100px;
}
#postimg
{
 
      
margin-bottom: 33px;

}
#postimg1
{
 
      
margin-left: 33px;

}

.post0
{
 
      background-color: white;


}
#t1
{
 
 

}
.post1
{
 
      background-color: white;
margin-top: 45px;

}


.post2
{
 
      background-color: white;
margin-top: 45px;

}
.post3
{
 
      background-color: white;
margin-top: 45px;

}
.group1
{
 
      
       background-color: #f1f1f1;

margin-bottom: 10px;
}
.group2
{
 
      
       background-color: #f1f1f1;

margin-top: 10px;

}
.group3
{
 
      
       background-color: #f1f1f1;

margin-top: 20px;

}
.btn-info
{

	margin-left: 83px;
}


.btn-default
{
	margin-left: 173px;

}
.btn-primary
{
width: 50px;

}

.p1 
{
  margin-left: -100px;
}
.p2
{
  margin-top: 20px;

}
.navimg1 
{
  padding-right: 50px;
}

.navimg1 
{
  float: left;
}
#t1 {
}
.btn-info
{
  margin-bottom: 10px;
margin-left: 170px;
}
#nn2
{
  margin-left: 120px;
color: red;
}
.lg
{
  margin-left: 20px;

}