body {

}
#nav1 {
   
}
#nav2 {
    background-color: gray;
margin-top: 100px;
margin-left: 150px;


}
#navsign  {
   
margin-top: 200px;
margin-left: 150px;
height: 400px;
width: 400px;

}
#signtext input{
    
width: 280px;



}
#form1 {
    background-color: gray;
margin-top: 180px;
margin-left: 200px;

}
#p1 {
   
height: 40px;
height: 10px;
}

#q {
margin-top: 12px;
margin-left: 550px;
}
#p3 {

margin-top: 45px;
margin-left: -65px;
height: 10px;
}
#p4 {

margin-top: 45px;
margin-left: -90px;
height: 1px;
}
#p5 {

margin-top: 12px;
margin-left: 85px;

height: 10px;
}

li .btn-primary {
    
background-color: gray;
margin-top: 40px;
margin-left: 23px;


}

.bs-component
{
background-color: gray;	
}

.navbar-right
{

	margin-right: 30px;
margin-top: 20px;

margin-left: 30px;
    font-size: 18px;
}
#aa{
background-color: green;	
margin-left: 20px;
margin-top: 10px;
}
#signin1{
	
margin-left: 40px;
margin-top: 10px;

}
#em1{
	
margin-right: 20px;

}