
.container
{
/*margin-top: 142px;	
*/
}
#formfb
{
	
	margin-top: 0px;
	
	/*margin-left: 200px;*/


}
#fb1
{
/*	margin-left: 480px;
	
*/
}
#fbname
{
/*	margin-left: 480px;

*/
width: 170px;
}
#fbname1
{
/*	margin-left: 480px;

*/

width: 170px;
padding-left: 0px;
}

#fbname4
{
	
/*margin-left: 480px;
*/
margin-top: -18px;
width: 340px;
}
#fbname5
{
	


}
.form-group
{
		margin-top: 30px;
}
#navfb {
   padding-bottom: 10px;
}
.radio-inline
{
/*
margin-left: 480px;	
*/
}
.container-fluid
{
height: 100px;	
}
.e1
{
	
margin-top: -5px;
margin-right: -60px;
padding-left: 219px;

}
#e2
{
	
margin-top: 34px;

}

#e3
{
	
margin-top: -5px;
margin-right: -120px;
padding-left: 30px;
}
#e4
{
	

margin-top: 34px;
margin-left: 20px;
}

#e5
{
	
margin-top: 34px;
margin-left: 10px;
}
.btn-success
{
/*
margin-left: 280px;
*/
}
#selectDate
{

}
#selectMonth
{

}
#selectYear
{
margin-left: -25px;
}
.navbar-fixed-bottom
{
}
.footer1
{
	margin-left: 200px;
}
.footer2,.footer3,.footer4
{
	clear: left;
	margin-left: 200px;
}
.footer4
{
	margin-top: -40px;
	margin-bottom: -40px;
margin-left: 200px;
}
hr
{
	clear: left;
		margin-top: -10px;
margin-left: 200px;
}

a{
	 font-size: 12px;
}
#footernav
{
	
margin-bottom: -10px;
margin-top: 120px;
}
hr
{
	  background-color: red;
  background-color: #123455;
}