
body{
background-color: #778899;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.bodyproject
{
    margin-top: 60px;
}
#leftside
{
    margin-left: 10px;
}
.settime
{
 margin-left: 20px;   
}
.setrightsideform
{
    margin-left:20px;margin-right:20px;
}
.rightside
{
    margin-left: 20px;
}

footer {
      background-color: gray;
      padding: 25px;
    }
    .bodyproject
    {
        background-color: white;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;

    border: 2px solid #4682B4;
    margin-top: 100px;
    }
.center{

/*    float: center;
*/
}
.btn-primary
{
    height: 34px;
    width: 50px;
margin-top: 6px;
padding-top: 3px;

}

@media only screen and (max-width : 480px) {
.form-control
{
    width: 100px;
margin-left: 10px;
}

body{
background-color: #778899;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.bodyproject
{
    margin-top: 60px;
}
#leftside
{
    margin-left: 10px;
}
.settime
{
 margin-left: 20px;   
}
.setrightsideform
{
    margin-left:20px;margin-right:20px;
}
.rightside
{
    margin-left: 20px;
}

footer {
      background-color: gray;
      padding: 25px;
    }
    .bodyproject
    {
        background-color: white;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;

    border: 2px solid #4682B4;
    margin-top: 100px;
    }
.center{

/*    float: center;
*/
}
.btn-primary
{
    height: 34px;
    width: 50px;
margin-top: 6px;
padding-top: 3px;

}

@media only screen and (max-width : 480px) {
.form-control
{
    width: 100px;
margin-left: 10px;
}

}

@media only screen and (max-width : 360px) {
.bodyproject
{
    width: 260px;

}

}

